@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Space Grotesk", sans-serif;
  min-height: 100vh;
}

.displayNone {
  display: none !important;
}

.main-container {
  display: flex;
}
@media (max-width: 1070px) {
  .main-container {
    flex-direction: column;
  }
}

.cards-bg {
  width: 30.188rem;
  min-height: 100vh;
  background-image: url("../images/bg-main-desktop.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media (max-width: 1200px) {
  .cards-bg {
    width: 25rem;
  }
}
@media (max-width: 1070px) {
  .cards-bg {
    background-image: url("../images/bg-main-mobile.png");
    min-height: 39vh;
    width: 100%;
    margin-bottom: 5.625rem;
  }
}
@media (max-width: 896px) {
  .cards-bg {
    min-height: 25vh;
  }
}
.cards-bg .card-front {
  background-image: url("../images/bg-card-front.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  right: 0;
  top: 11.688rem;
  transform: translateX(28.5%);
  padding: 1.75rem 2rem 1.656rem;
  border-radius: 10px;
  color: white;
  filter: drop-shadow(0px 29px 30px rgba(0, 0, 0, 0.22));
  min-width: 27.938rem;
}
@media (max-width: 1200px) {
  .cards-bg .card-front {
    right: -4rem;
  }
}
@media (max-width: 1070px) {
  .cards-bg .card-front {
    right: unset;
    left: 50%;
    z-index: 3;
    transform: translateX(-60%);
  }
}
@media (max-width: 896px) {
  .cards-bg .card-front {
    min-width: 17.813rem;
    padding: 1.1rem 1.25rem 1.225rem;
    top: 7.6rem;
  }
}
@media (max-width: 578px) {
  .cards-bg .card-front {
    transform: translateX(0%);
    left: 1rem;
  }
}
.cards-bg .card-front .card-logo {
  margin-bottom: 3.8rem;
}
@media (max-width: 896px) {
  .cards-bg .card-front .card-logo {
    width: 54px;
    margin-bottom: 2.1rem;
  }
}
.cards-bg .card-front .card-number {
  margin-bottom: 1.3rem;
  padding-right: 0.5rem;
}
@media (max-width: 896px) {
  .cards-bg .card-front .card-number {
    padding-right: 0.375rem;
    margin-bottom: 1rem;
  }
}
.cards-bg .card-front .card-number span {
  font-size: 1.75rem;
  letter-spacing: 3.42px;
}
@media (max-width: 896px) {
  .cards-bg .card-front .card-number span {
    font-size: 1.125rem;
    letter-spacing: 2.2px;
  }
}
.cards-bg .card-front .name-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.875rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
@media (max-width: 896px) {
  .cards-bg .card-front .name-date {
    font-size: 0.5625rem;
  }
}
.cards-bg .card-back {
  background-image: url("../images/bg-card-back.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 447px;
  height: 245px;
  position: absolute;
  right: 0;
  transform: translateX(50%);
  top: 29.3rem;
  filter: drop-shadow(0px 39px 30px rgba(0, 0, 0, 0.22));
}
@media (max-width: 1070px) {
  .cards-bg .card-back {
    right: unset;
    left: 3rem;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 896px) {
  .cards-bg .card-back {
    width: 287px;
    height: 157px;
    top: 2rem;
  }
}
@media (max-width: 578px) {
  .cards-bg .card-back {
    left: unset;
    right: 1rem;
    transform: translateX(0%);
  }
}
.cards-bg .card-back span {
  position: absolute;
  font-size: 0.875rem;
  letter-spacing: 2px;
  color: #FFFFFF;
  right: 3.563rem;
  top: 44.5%;
}
@media (max-width: 896px) {
  .cards-bg .card-back span {
    font-size: 0.5625rem;
    letter-spacing: 1.29px;
    right: 2.2rem;
    top: 45%;
  }
}

.card-info-container {
  display: flex;
  align-items: center;
  margin-left: 24%;
}
@media (max-width: 1070px) {
  .card-info-container {
    margin-left: unset;
    margin: 0 auto;
    margin-bottom: 2.813rem;
  }
}
.card-info-container .card-form {
  display: flex;
  flex-direction: column;
}
.card-info-container .card-form label {
  font-size: 0.75rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  color: #21092F;
}
.card-info-container .card-form .message {
  font-size: 0.75rem;
  color: #FF5050;
  margin-top: 0.35rem;
}
.card-info-container .card-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.52rem;
}
.card-info-container .card-form .form-group .form-control {
  font-size: 1.125rem;
  border-radius: 8px;
  border: 1px solid #C7C1CB;
  padding: 0.525rem 1rem;
}
.card-info-container .card-form .form-group .form-control:focus {
  outline-color: #21092F;
}
.card-info-container .card-form .form-group .form-control::placeholder {
  color: #C7C1CB;
}
.card-info-container .card-form .form-group.cvc {
  width: 11.938rem;
}
@media (max-width: 896px) {
  .card-info-container .card-form .form-group.cvc {
    width: 10.25rem;
  }
}
.card-info-container .card-form .form-group.error .form-control {
  border: 1px solid #FF5050;
}
.card-info-container .card-form .form-group.error .message {
  display: block;
}
.card-info-container .card-form .form-group .message {
  display: none;
}
.card-info-container .card-form .card_inner-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
  gap: 1.25rem;
}
@media (max-width: 896px) {
  .card-info-container .card-form .card_inner-container {
    gap: 0.688rem;
  }
}
.card-info-container .card-form .date-container {
  display: flex;
  flex-direction: column;
}
.card-info-container .card-form .date-container .form-group .input-container {
  display: flex;
  flex-direction: row;
  gap: 0.625rem;
}
.card-info-container .card-form .date-container .form-group .input-container input {
  width: 5rem;
}
@media (max-width: 896px) {
  .card-info-container .card-form .date-container .form-group .input-container input {
    width: 4.5rem;
  }
}

.button {
  font-size: 1.125rem;
  background-color: #21092F;
  color: #FFFFFF;
  border: none;
  padding: 0.815rem;
  border-radius: 8px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
.button:hover {
  background-color: #662889;
}

.thank-you-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 381px;
}
@media (max-width: 896px) {
  .thank-you-box {
    min-width: 327px;
  }
}
.thank-you-box .icon-box {
  margin-bottom: 2rem;
}
.thank-you-box h1 {
  font-size: 1.75rem;
  text-transform: uppercase;
  letter-spacing: 3.42px;
  margin-bottom: 0.6rem;
  color: #21092F;
}
.thank-you-box p {
  font-size: 1.125rem;
  color: #FF5050;
  margin-bottom: 2.8rem;
}
.thank-you-box .button {
  width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

/*# sourceMappingURL=main.css.map */
